@{
    ViewBag.Title = "thongBaoRong";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

<div class="text-center pt-5" data-aos="flip-right">
    <h4 class="text-danger">@ViewBag.stringEmpty</h4>
    <img src="~/Images/cart-empty.png" width="100" height="100" />
</div>
