@{
    Layout = null;
}

<div class="text-center container-fluid" data-aos="zoom-in">
    <h3 class="py-2">@ViewBag.thongBao</h3>
    <img src="~/Images/cart-empty.png" style="width: 150px" />
</div>
